@charset "utf-8";
body {
	background-image: url(Images/beach.gif);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	background-attachment: fixed;
	background-position: center top;

}
#main  {
	width: 1000px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	background-image: url(Images/postcard1.jpg);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 320px;
	border-right-style: solid;
	border-right-color: #DCCC9F;
	border-left-style: solid;
	border-left-color: #DCCC9F;
	height: 872px;
}
#main2  {
	width: 1000px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-repeat: repeat;
	height: 710px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #D4D0C8;
	background-color: #F9F3C7;
}
#bottombar {
	width: 1000px;
	background-image: url(Images/smallbottomborder.jpg);
	height: 31px;
}
#testimonials {
	overflow: auto;
	width: 550px;
	height: 350px;
	scrollbar-base-color: #D8CB9E;
	scrollbar-arrow-color: #7DA8A4;
	scrollbar-face-color: #F9F3C7;
}

img
 {  border-style: none;
 }
#zbottombar {
	height: 31px;
	width: 1000px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#bottombar  a {
	color: #330000;
	font-size: 9px;
}

.formbox {
	background-color: #FFFFCC;
	margin-left: 3px;
	font-family: "Courier New", Courier, monospace;
	border: thin outset #FFE8E8;
	margin-top: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
}
.formbuttons {
	color: #936E3D;
	border: thin outset #DACB9E;
	background-color: #CFE6EA;
	padding-right: 2px;
	padding-left: 2px;
	margin-right: 2px;
	margin-left: 2px;
}
.M2TXT {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: left;
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

.M2TXTSmall {
	font-family: Verdana, Geneva, sans-serif;
	color: #1F6F89;
	text-align: center;
	font-size: 11px;
}
.M2TXTEmail {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: left;
	font-size: 14px;
}

.M2TXT ul{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: left;
	font-size: 14px;
}

.M2TXT li{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: left;
	font-size: 14px;
}

.M2TXT a {
	color: #1F6F89;
	text-decoration: underline;
}
.M2TXT a:hover {
	color: #DDCC9F;
	text-decoration: underline;
}


.ITXT {
	font-family: Arial, Helvetica, sans-serif;
	color: #1F6F89;
	font-size: 14px;
	text-align: left;
}

.ITXT a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	font-size: 10px;
	text-decoration: none;
}
.ITXT a:hover {
	color: #996600;
	text-decoration: underline;
}
