@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
/*
#696968
#c6c3ba
#dad7cd
#b2ceb3
#658e64
#46684c
#344e41
#25382d
#152219
Font for stuff: Russo One for titles, Ubuntu for others
*/
body {
  padding: 0px;
  margin-top: 0px;
  text-align: center;
  background-color: gray;
}

#main {
  margin: auto;
  position:relative;
  text-align: center;
  background-color: #353535;
  border-bottom: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 25px 25px;   
  border-color: darkblue;
  width: 75%;
  font-family: 'Russo One', sans-serif;
  height: 500px;
}

.img{
  height: 40%;
}

#navbar {
  color: whitesmoke;    
  font-family: 'Orbitron';
}

.column {
  float: left;
  padding: 10px;
  height: 400px;
}

#left {
  width: 25%;
  background-color:#aaa;
  border-color: teal;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-radius: 2px;
}

#right {
  width: 75%;
  background-color:#bbb;
  border-color: teal;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-radius: 2px;
}

#footer {
  color: whitesmoke;    
  font-family: 'Orbitron';
  font-size: 10px;
  margin-top: 15px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}