body {
    background-color: grey;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    border-style: dashed;
    border-color: blanchedalmond;
    border-radius: 75%;
}